USE [vin_decoder]
GO
/****** Object:  Schema [autombile]    Script Date: 5/9/2026 9:31:56 PM ******/
CREATE SCHEMA [autombile]
GO
/****** Object:  Table [dbo].[auto_brands]    Script Date: 5/9/2026 9:31:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auto_brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[year_founded] [int] NULL,
	[year_start] [int] NULL,
	[year_end] [int] NULL,
 CONSTRAINT [PK_auto_brands] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auto_models]    Script Date: 5/9/2026 9:31:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auto_models](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[auto_brand_id] [int] NULL,
	[name] [varchar](100) NULL,
	[year_start] [int] NULL,
	[year_end] [int] NULL,
	[platform] [varchar](100) NULL,
	[generations] [tinyint] NULL,
	[notes] [varchar](4000) NULL,
	[vin_log] [varchar](4000) NULL,
 CONSTRAINT [PK_auto_models] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manufacturer_auto_brands]    Script Date: 5/9/2026 9:31:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturer_auto_brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer_id] [int] NULL,
	[auto_brand_id] [int] NULL,
	[year_start] [int] NULL,
	[year_end] [int] NULL,
 CONSTRAINT [PK_manufacturer_auto_brands] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manufacturers]    Script Date: 5/9/2026 9:31:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[year_founded] [int] NULL,
	[year_start] [int] NULL,
	[year_end] [int] NULL,
 CONSTRAINT [PK_manufacturer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notes]    Script Date: 5/9/2026 9:31:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[note] [varchar](max) NOT NULL,
	[resolved] [bit] NOT NULL,
	[resolution] [varchar](max) NULL,
 CONSTRAINT [PK_notes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIN_component_values]    Script Date: 5/9/2026 9:31:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIN_component_values](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vin_component_id] [int] NOT NULL,
	[component_code] [varchar](10) NOT NULL,
	[component_value] [varchar](100) NULL,
	[year_start] [int] NULL,
	[year_end] [int] NULL,
	[auto_brand_id] [int] NULL,
	[notes] [varchar](4000) NULL,
 CONSTRAINT [PK_VIN_component_values] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIN_components]    Script Date: 5/9/2026 9:31:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIN_components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer_id] [int] NOT NULL,
	[component_name] [varchar](30) NOT NULL,
 CONSTRAINT [PK_VIN_components] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIN_pattern]    Script Date: 5/9/2026 9:31:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIN_pattern](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer_id] [int] NOT NULL,
	[auto_brand_id] [int] NULL,
	[year_start] [int] NOT NULL,
	[year_end] [int] NOT NULL,
	[min_characters] [smallint] NOT NULL,
	[max_characters] [smallint] NOT NULL,
	[variable_characters] [bit] NOT NULL,
	[sample_value] [varchar](25) NULL,
	[notes] [varchar](4000) NULL,
 CONSTRAINT [PK_VIN_pattern] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIN_pattern_detail]    Script Date: 5/9/2026 9:31:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIN_pattern_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[VIN_pattern_id] [int] NOT NULL,
	[VIN_component_id] [int] NOT NULL,
	[sequence_number] [tinyint] NOT NULL,
	[position] [tinyint] NOT NULL,
	[characters] [tinyint] NOT NULL,
	[max_characters] [tinyint] NULL,
	[optional] [bit] NULL,
	[notes] [varchar](4000) NULL,
 CONSTRAINT [PK_VIN_pattern_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
