USE [master]
GO
/****** Object:  Database [wordle]    Script Date: 5/9/2026 9:51:45 PM ******/
CREATE DATABASE [wordle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wordle', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL2019\MSSQL\DATA\wordle.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'wordle_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL2019\MSSQL\DATA\wordle_log.ldf' , SIZE = 4333568KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wordle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wordle]
GO
/****** Object:  Schema [Dim]    Script Date: 5/9/2026 9:51:46 PM ******/
CREATE SCHEMA [Dim]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StringToTable]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_StringToTable]
	(@string varchar(max),
	@row_delimiter char(1) = ';')

RETURNS @results TABLE
	(col1 varchar(255))

AS

BEGIN
	DECLARE @pos smallint = 1

	-- Always end with the row delimiter
	IF RIGHT(@string, 1) <> @row_delimiter
		SELECT @string = @string + @row_delimiter

	-- Loop through to parse string into table
	WHILE @pos < LEN(@string)
	BEGIN
		INSERT INTO @results
		SELECT SUBSTRING(@string, @pos, CHARINDEX(@row_delimiter, @string, @pos) - @pos)

		SELECT @pos = CHARINDEX(@row_delimiter, @string, @pos) + 1
	END

	RETURN
END
GO
/****** Object:  Table [dbo].[date2]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[date2](
	[DateKey] [int] NOT NULL,
	[Date] [date] NULL,
	[FullDateUS] [char](10) NULL,
	[DayOfMonth] [smallint] NULL,
	[DaySuffix] [varchar](4) NULL,
	[DayName] [varchar](9) NULL,
	[DayShortName] [varchar](3) NULL,
	[DayOfWeekUS] [smallint] NULL,
	[DayOfWeekInMonth] [smallint] NULL,
	[DayOfWeekInYear] [smallint] NULL,
	[DayOfQuarter] [smallint] NULL,
	[DayOfYear] [smallint] NULL,
	[WeekOfMonth] [smallint] NULL,
	[WeekOfQuarter] [smallint] NULL,
	[WeekOfYear] [smallint] NULL,
	[Month] [smallint] NULL,
	[MonthName] [varchar](9) NULL,
	[MonthShortName] [varchar](3) NULL,
	[MonthOfQuarter] [smallint] NULL,
	[Quarter] [smallint] NULL,
	[QuarterName] [varchar](9) NULL,
	[Year] [smallint] NULL,
	[YearName] [varchar](10) NULL,
	[MonthYear] [varchar](10) NULL,
	[MMYYYY] [char](6) NULL,
	[FirstDayOfMonth] [date] NULL,
	[LastDayOfMonth] [date] NULL,
	[FirstDayOfQuarter] [date] NULL,
	[LastDayOfQuarter] [date] NULL,
	[FirstDayOfYear] [date] NULL,
	[LastDayOfYear] [date] NULL,
	[IsWeekday] [char](1) NULL,
	[IsHolidayUS] [char](1) NULL,
	[HolidayUS] [varchar](100) NULL,
	[FiscalDayOfYear] [varchar](3) NULL,
	[FiscalWeekOfYear] [varchar](3) NULL,
	[FiscalMonth] [varchar](2) NULL,
	[FiscalQuarter] [char](1) NULL,
	[FiscalQuarterName] [varchar](9) NULL,
	[FiscalYear] [char](4) NULL,
	[FiscalYearName] [varchar](7) NULL,
	[FiscalMonthYear] [varchar](10) NULL,
	[FiscalMMYYYY] [char](6) NULL,
	[FiscalFirstDayOfMonth] [date] NULL,
	[FiscalLastDayOfMonth] [date] NULL,
	[FiscalFirstDayOfQuarter] [date] NULL,
	[FiscalLastDayOfQuarter] [date] NULL,
	[FiscalFirstDayOfYear] [date] NULL,
	[FiscalLastDayOfYear] [date] NULL,
	[SchoolDayOfYear] [varchar](3) NULL,
	[SchoolWeekOfYear] [varchar](3) NULL,
	[SchoolMonth] [varchar](2) NULL,
	[SchoolYear] [char](4) NULL,
	[SchoolYearName] [varchar](30) NULL,
	[SchoolMonthYear] [varchar](10) NULL,
	[SchoolMMYYYY] [char](6) NULL,
	[SchoolFirstDayOfMonth] [date] NULL,
	[SchoolLastDayOfMonth] [date] NULL,
	[SchoolFirstDayOfYear] [date] NULL,
	[SchoolLastDayOfYear] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dictionary]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictionary](
	[word] [varchar](5) NULL,
	[word_count] [bigint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_dictionary_word]    Script Date: 5/9/2026 9:51:46 PM ******/
CREATE CLUSTERED INDEX [IDX_dictionary_word] ON [dbo].[dictionary]
(
	[word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dictionary_letters]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictionary_letters](
	[word] [varchar](5) NULL,
	[letter] [char](1) NULL,
	[letter_count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[results]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[results](
	[word] [varchar](5) NULL,
	[cnt] [int] NULL,
	[sql] [varchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wordle_answers]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wordle_answers](
	[puzzle_date] [date] NULL,
	[puzzle_number] [int] NULL,
	[word] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Dim].[Date]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dim].[Date](
	[DateKey] [int] NOT NULL,
	[Date] [date] NULL,
	[FullDateUS] [char](10) NULL,
	[DayOfMonth] [varchar](2) NULL,
	[DaySuffix] [varchar](4) NULL,
	[DayName] [varchar](9) NULL,
	[DayShortName] [varchar](3) NULL,
	[DayOfWeekUS] [char](1) NULL,
	[DayOfWeekInMonth] [varchar](2) NULL,
	[DayOfWeekInYear] [varchar](2) NULL,
	[DayOfQuarter] [varchar](3) NULL,
	[DayOfYear] [varchar](3) NULL,
	[WeekOfMonth] [varchar](1) NULL,
	[WeekOfQuarter] [varchar](2) NULL,
	[WeekOfYear] [varchar](2) NULL,
	[Month] [varchar](2) NULL,
	[MonthName] [varchar](9) NULL,
	[MonthShortName] [varchar](3) NULL,
	[MonthOfQuarter] [varchar](2) NULL,
	[Quarter] [char](1) NULL,
	[QuarterName] [varchar](9) NULL,
	[Year] [char](4) NULL,
	[YearName] [char](7) NULL,
	[MonthYear] [char](10) NULL,
	[MMYYYY] [char](6) NULL,
	[FirstDayOfMonth] [date] NULL,
	[LastDayOfMonth] [date] NULL,
	[FirstDayOfQuarter] [date] NULL,
	[LastDayOfQuarter] [date] NULL,
	[FirstDayOfYear] [date] NULL,
	[LastDayOfYear] [date] NULL,
	[IsWeekday] [char](1) NULL,
	[IsHolidayUS] [char](1) NULL,
	[HolidayUS] [varchar](50) NULL,
	[FiscalDayOfYear] [varchar](3) NULL,
	[FiscalWeekOfYear] [varchar](3) NULL,
	[FiscalMonth] [varchar](2) NULL,
	[FiscalQuarter] [char](1) NULL,
	[FiscalQuarterName] [varchar](9) NULL,
	[FiscalYear] [char](4) NULL,
	[FiscalYearName] [char](7) NULL,
	[FiscalMonthYear] [char](10) NULL,
	[FiscalMMYYYY] [char](6) NULL,
	[FiscalFirstDayOfMonth] [date] NULL,
	[FiscalLastDayOfMonth] [date] NULL,
	[FiscalFirstDayOfQuarter] [date] NULL,
	[FiscalLastDayOfQuarter] [date] NULL,
	[FiscalFirstDayOfYear] [date] NULL,
	[FiscalLastDayOfYear] [date] NULL,
	[SchoolDayOfYear] [varchar](3) NULL,
	[SchoolWeekOfYear] [varchar](3) NULL,
	[SchoolMonth] [varchar](2) NULL,
	[SchoolYear] [char](4) NULL,
	[SchoolYearName] [char](30) NULL,
	[SchoolMonthYear] [char](10) NULL,
	[SchoolMMYYYY] [char](6) NULL,
	[SchoolFirstDayOfMonth] [date] NULL,
	[SchoolLastDayOfMonth] [date] NULL,
	[SchoolFirstDayOfYear] [date] NULL,
	[SchoolLastDayOfYear] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Dim].[Holiday]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dim].[Holiday](
	[CountryName] [varchar](100) NULL,
	[CountryCode2] [char](2) NULL,
	[CountryCode3] [char](3) NULL,
	[CountryCodeNumeric] [char](3) NULL,
	[HolidayName] [varchar](100) NULL,
	[HolidayDate] [date] NULL,
	[HolidayDayOfWeek] [int] NULL,
	[HolidayDayOfWeekName] [varchar](30) NULL,
	[HolidayDayOfMonth] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Dim].[Time]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dim].[Time](
	[TimeKey] [int] NOT NULL,
	[Time] [time](7) NULL,
	[StandardHour] [smallint] NULL,
	[StandardCode] [varchar](30) NULL,
	[StandardShortTime] [varchar](30) NULL,
	[StandardHHMM] [varchar](30) NULL,
	[StandardFullTime] [varchar](30) NULL,
	[StandardExtendedTime] [varchar](30) NULL,
	[IntlHour] [smallint] NULL,
	[IntlShortTime] [varchar](30) NULL,
	[IntlHHMM] [varchar](30) NULL,
	[IntlFullTime] [varchar](30) NULL,
	[IntlExtendedTime] [varchar](30) NULL,
	[MilitaryTime] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_dictionary_letters_letter_count]    Script Date: 5/9/2026 9:51:46 PM ******/
CREATE NONCLUSTERED INDEX [IDX_dictionary_letters_letter_count] ON [dbo].[dictionary_letters]
(
	[letter_count] ASC
)
INCLUDE([word],[letter]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_dictionary_letters_word]    Script Date: 5/9/2026 9:51:46 PM ******/
CREATE NONCLUSTERED INDEX [IDX_dictionary_letters_word] ON [dbo].[dictionary_letters]
(
	[word] ASC
)
INCLUDE([letter]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_dictionary_letters_word_letter_count]    Script Date: 5/9/2026 9:51:46 PM ******/
CREATE NONCLUSTERED INDEX [IDX_dictionary_letters_word_letter_count] ON [dbo].[dictionary_letters]
(
	[word] ASC,
	[letter_count] ASC
)
INCLUDE([letter]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[word_parse]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[word_parse]
	(@all bit = 0)

AS

SET NOCOUNT ON

DECLARE @work TABLE
	(word varchar(5),
	letter char(1))

IF @all = 1
BEGIN
	DECLARE csrWord CURSOR LOCAL FORWARD_ONLY FOR
	SELECT word FROM dbo.dictionary
END

IF @all = 0
BEGIN
	DECLARE csrWord CURSOR LOCAL FORWARD_ONLY FOR
	SELECT d.word FROM dbo.dictionary d
	LEFT OUTER JOIN dbo.dictionary_letters dl ON d.word = dl.word
	WHERE dl.word IS NULL
END

DECLARE @word varchar(5),
	@letter char(1),
	@pos int

OPEN csrWord

FETCH NEXT FROM csrWord INTO @word

WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @pos = 1

	WHILE @pos <= LEN(@word)
	BEGIN
		INSERT INTO @work
			(word, letter)
		SELECT @word, SUBSTRING(@word, @pos, 1)

		SELECT @pos = @pos + 1
	END

	FETCH NEXT FROM csrWord INTO @word
END

CLOSE csrWord
DEALLOCATE csrWord

IF @all = 1
BEGIN
	TRUNCATE TABLE dbo.dictionary_letters
END

INSERT INTO dbo.dictionary_letters
	(word, letter, letter_count)
SELECT word, letter, COUNT(*)
FROM @work 
GROUP BY word, letter

GO
/****** Object:  StoredProcedure [dbo].[wordle]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[wordle]
	(@guesses_list varchar(max) = NULL,
	@letters_list varchar(26) = NULL,
	@pattern varchar(5) = '',
	@row_delimiter char(1) = ';')

AS

SET NOCOUNT ON 

DECLARE @sql varchar(8000)

DECLARE @letter_list varchar(max) = '',
	@len int,
	@n int = 1,
	@pos tinyint,
	@charpos tinyint,
	@inc_pattern varchar(5)

DECLARE @guesses TABLE
	(word varchar(5))

DECLARE @included_letters TABLE
	(letter varchar(1))

DECLARE @excluded_letters TABLE
	(letter varchar(1))

DECLARE @included_patterns TABLE
	(pattern varchar(5))

DECLARE @excluded_patterns TABLE
	(pattern varchar(5))

DECLARE @output TABLE
	(word varchar(5))

SELECT @len = len(@guesses_list)

WHILE @n <= @len
BEGIN
	SELECT @letter_list = @letter_list + SUBSTRING(@guesses_list, @n, 1) + @row_delimiter
	SELECT @n = @n + 1
END

INSERT INTO @guesses
SELECT * FROM dbo.fn_StringToTable(@guesses_list, @row_delimiter)

INSERT INTO @included_letters
SELECT * FROM dbo.fn_StringToTable(@letters_list, @row_delimiter)

INSERT INTO @excluded_letters
--SELECT * FROM dbo.fn_StringToTable(@excluded_letters_list, @row_delimiter)
SELECT * 
FROM dbo.fn_StringToTable(@letter_list, @row_delimiter)
WHERE col1 <> ''
	AND col1 NOT IN (SELECT letter FROM @included_letters)

-- Pattern breakout
SELECT @pos = 1,
	@charpos = 0,
	@inc_pattern = @pattern

IF LEN(REPLACE(@inc_pattern, '_', '')) > 0
BEGIN
	WHILE @pos > 0
	BEGIN
		SELECT @pos = PATINDEX('%[a-z]%', @inc_pattern)

		INSERT INTO @included_patterns
		SELECT REPLICATE('_', @pos - 1 + @charpos) + SUBSTRING(@inc_pattern, @pos, 1) + REPLICATE('_', 5 - @pos - @charpos)

		SELECT @inc_pattern = SUBSTRING(@inc_pattern, @pos + 1, 5)
	
		SELECT @charpos = @pos + @charpos
	END	
END

-- Excluded patterns
DECLARE csrGuess CURSOR LOCAL FORWARD_ONLY FOR
	SELECT word FROM @guesses

DECLARE @word varchar(5)

OPEN csrGuess
FETCH NEXT FROM csrGuess INTO @word

WHILE @@FETCH_STATUS = 0
BEGIN
	DECLARE csrIncLetter CURSOR LOCAL FORWARD_ONLY FOR
	SELECT letter FROM @included_letters

	DECLARE @l char(1),
		@lpos tinyint = 1,
		@lcharpos tinyint

	OPEN csrIncLetter
	FETCH NEXT FROM csrIncLetter INTO @l

	WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT @charpos = 1
		WHILE @charpos > 0
		BEGIN
			SELECT @charpos = CHARINDEX(@l, @word, @pos)
		
			IF @charpos > 0
			BEGIN
				INSERT INTO @excluded_patterns
				SELECT REPLICATE('_', @charpos - 1) + @l + REPLICATE('_', 5 - @charpos)
			END

			SELECT @pos = @charpos + 1
		END

		FETCH NEXT FROM csrIncLetter INTO @l
	END

	CLOSE csrIncLetter
	DEALLOCATE csrIncLetter

	FETCH NEXT FROM csrGuess INTO @word
END

CLOSE csrGuess
DEALLOCATE csrGuess

DELETE FROM @included_patterns WHERE pattern = '____'
DELETE FROM @excluded_patterns WHERE pattern IN (SELECT pattern FROM @included_patterns)

SELECT @sql = 'SELECT word FROM dbo.dictionary WHERE 1 = 1'

IF @guesses_list IS NOT NULL
BEGIN
	SELECT @sql = @sql + ' AND word <> ''' + word + '''' FROM @guesses
END

IF @letters_list IS NOT NULL
BEGIN
	SELECT @sql = @sql + ' AND word LIKE ''%' + letter + '%''' FROM @included_letters
END

IF (SELECT COUNT(*) FROM @excluded_letters) > 0	
BEGIN
	SELECT @sql = @sql + ' AND word NOT LIKE ''%' + letter + '%''' FROM @excluded_letters
END

IF ISNULL(@pattern, '') <> ''
BEGIN
	SELECT @sql = @sql + ' AND word LIKE ''' + @pattern + '''' 
END

IF (SELECT COUNT(*) FROM @excluded_patterns) > 0
BEGIN
	SELECT @sql = @sql + ' AND word NOT LIKE ''' + pattern + '''' FROM @excluded_patterns
END

SELECT @sql = @sql + ' ORDER BY word'

INSERT INTO @output
EXEC sp_sqlexec @sql

declare @letter_freq table (letter char(1), freq int)

insert into @letter_freq
select top 5 *
from 
(SELECT top 5 letter, count(*) cnt
FROM dictionary_letters
where word not in (select word from @guesses)
	--and letter not in (select letter from @included_letters)
	and letter not in (select letter from @excluded_letters)
	and word in (select word from @output)
	and letter not in (select letter from @included_letters)
	and letter_count = 1
group by letter
union all
SELECT top 5 b.letter, sum(cnt)
from 
	(select distinct dl.word, dl.letter, dl.letter_count, dl.letter_count - 1 cnt
	FROM dictionary_letters dl
	where dl.word not in (select word from @guesses)
		--and letter not in (select letter from @included_letters)
		and dl.letter not in (select letter from @excluded_letters)
		and dl.word in (select word from @output)
		and letter in (select letter from @included_letters)
		and dl.letter_count > 1) b
group by b.letter) a
order by cnt desc

--select * from @excluded_letters
--SELECT @sql

--select * from @output
--select * from @letter_freq
--SELECT * FROM @guesses
--SELECT * FROM @included_letters
--SELECT * FROM @excluded_letters
--SELECT * FROM @included_patterns
--SELECT * FROM @excluded_patterns
--select @letter_list

	select dl.word, sum(lf.freq)
	from @output o
	left outer join dictionary_letters dl on o.word = dl.word
	left outer join @letter_freq lf on dl.letter = lf.letter
	group by dl.word --, lf.letter
	order by 2 desc


select * from @letter_freq
order by 2 desc
GO
/****** Object:  StoredProcedure [dbo].[wordle_old]    Script Date: 5/9/2026 9:51:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[wordle_old]
	(@guesses_list varchar(1000) = NULL,
	@included_letters_list varchar(26) = NULL,
--	@excluded_letters_list varchar(26) = NULL,
	@included_patterns_list varchar(1000) = NULL,
	@excluded_patterns_list varchar(1000) = NULL,
	@row_delimiter char(1) = ';')

AS

DECLARE @sql varchar(8000)

DECLARE @letter_list varchar(2000) = '',
	@len int,
	@n int = 1

DECLARE @guesses TABLE
	(word varchar(5))

DECLARE @included_letters TABLE
	(letter varchar(1))

DECLARE @excluded_letters TABLE
	(letter varchar(1))

DECLARE @included_patterns TABLE
	(pattern varchar(5))

DECLARE @excluded_patterns TABLE
	(pattern varchar(5))

SELECT @len = len(@guesses_list)

WHILE @n <= @len
BEGIN
	SELECT @letter_list = @letter_list + SUBSTRING(@guesses_list, @n, 1) + @row_delimiter
	SELECT @n = @n + 1
END

INSERT INTO @guesses
SELECT * FROM dbo.fn_StringToTable(@guesses_list, @row_delimiter)

INSERT INTO @included_letters
SELECT * FROM dbo.fn_StringToTable(@included_letters_list, @row_delimiter)

INSERT INTO @excluded_letters
--SELECT * FROM dbo.fn_StringToTable(@excluded_letters_list, @row_delimiter)
SELECT * 
FROM dbo.fn_StringToTable(@letter_list, @row_delimiter)
WHERE col1 <> ''
	AND col1 NOT IN (SELECT letter FROM @included_letters)

INSERT INTO @included_patterns
SELECT * FROM dbo.fn_StringToTable(@included_patterns_list, @row_delimiter)

INSERT INTO @excluded_patterns
SELECT * FROM dbo.fn_StringToTable(@excluded_patterns_list, @row_delimiter)

SELECT @sql = 'SELECT * FROM dbo.dictionary WHERE 1 = 1'

IF @guesses_list IS NOT NULL
BEGIN
	SELECT @sql = @sql + ' AND word <> ''' + word + '''' FROM @guesses
END

IF @included_letters_list IS NOT NULL
BEGIN
	SELECT @sql = @sql + ' AND word LIKE ''%' + letter + '%''' FROM @included_letters
END

--IF @excluded_letters_list IS NOT NULL
IF (SELECT COUNT(*) FROM @excluded_letters) > 0	
BEGIN
	SELECT @sql = @sql + ' AND word NOT LIKE ''%' + letter + '%''' FROM @excluded_letters
END

IF @included_patterns_list IS NOT NULL
BEGIN
	SELECT @sql = @sql + ' AND word LIKE ''' + pattern + '''' FROM @included_patterns
END

IF @excluded_patterns_list IS NOT NULL
BEGIN
	SELECT @sql = @sql + ' AND word NOT LIKE ''' + pattern + '''' FROM @excluded_patterns
END

SELECT @sql = @sql + ' ORDER BY word'

EXEC sp_sqlexec @sql

--select * from @excluded_letters
--SELECT @sql


--SELECT * FROM @guesses
--SELECT * FROM @included_letters
--SELECT * FROM @excluded_letters
--SELECT * FROM @included_patterns
--SELECT * FROM @excluded_patterns

--select @letter_list
GO
USE [master]
GO
